  @doc "Unregister a previously registered {{ trait_name }} plugin by name."
  @spec {{ func_name }}(String.t()) :: :ok | :error
  def {{ func_name }}(name) do
    {{ native_mod }}.{{ func_name }}(name)
  end
