{% if doc_first %}
  @doc "{{ doc_first }}"
{% endif %}{% if args %}  def {{ func_name }}({{ args }}) do
{% else %}  def {{ func_name }} do
{% endif %}    {{ native_mod }}.{{ func_name }}({{ args }})
  end
