        {{ name }}={% if optional %}([_coerce_enum(_rust.{{ enum_name }}, v) for v in {{ accessor }}] if {{ accessor }} is not None else None){% else %}[_coerce_enum(_rust.{{ enum_name }}, v) for v in {{ accessor }}]{% endif %},
