#[derive(serde::Deserialize, Default)]
#[serde(default, rename_all = "camelCase")]
pub struct {{ input_name }} {
{%- for field in fields %}
    pub {{ field.name }}: {{ field.ty }},
{%- endfor %}
}

impl From<{{ input_name }}> for {{ core_path }} {
    fn from(val: {{ input_name }}) -> Self {
        let mut out = Self::default();
{%- for field in fields %}
        if let Some(v) = val.{{ field.name }} {
            out.{{ field.core_name }} = v.into();
        }
{%- endfor %}
        out
    }
}
