#[derive(Clone)]
#[wasm_bindgen(js_name = "{{ unprefixed_name }}")]
pub struct {{ struct_name }} {
    pub(crate) inner: {% if has_mut_methods %}Arc<std::sync::Mutex<{{ core_path }}>>{% else %}Arc<{{ core_path }}>{% endif %},
}
