    @Override public {{ result_type }} {{ camel_method }}({{ params }}) {
{%- if unsupported_diagnostic %}
        throw new UnsupportedOperationException("{{ unsupported_diagnostic }}");
{%- elif action_type == "skip" %}
        return {{ result_type }}.skip();
{%- elif action_type == "continue" %}
        return {{ result_type }}.continue_();
{%- elif action_type == "preserve_html" %}
        return {{ result_type }}.preserveHtml();
{%- elif action_type == "custom_literal" %}
        return {{ result_type }}.custom("{{ action_value }}");
{%- elif action_type == "custom_formatted" %}
        return {{ result_type }}.custom(String.format("{{ action_value }}", {{ format_args|join(", ") }}));
{%- endif %}
    }
