/// Wrapper that bridges a foreign {{ wrapper_prefix }} object to the `{{ trait_name }}` trait.
pub struct {{ wrapper_name }} {
    inner: {{ foreign_type }},
    cached_name: String,
{%- for f in extra_fields %}
    {{ f.name }}: {{ f.ty }},
{%- endfor %}
}
