    pub fn {{ method_name }}(self: *{{ type_name }}, {{ req_param }}: []const u8) ({{ zig_error_type }}||error{OutOfMemory,HandleClosed})!{{ struct_name }} {
        const handle = self._handle;
        if (handle == 0) return error.HandleClosed;
        const {{ req_param_lower }}_z = try std.heap.c_allocator.dupeSentinel(u8, {{ req_param_lower }}, 0);
        const {{ req_param_lower }}_handle = c.{{ prefix }}_{{ req_type_snake }}_from_json({{ req_param_lower }}_z.ptr);
        std.heap.c_allocator.free({{ req_param_lower }}_z);
        if ({{ req_param_lower }}_handle == 0) { return error.UnknownFfiError; }
        defer c.{{ prefix }}_{{ req_type_snake }}_free({{ req_param_lower }}_handle);
        const _stream_handle = c.{{ prefix }}_{{ type_snake }}_{{ method_snake }}_start({{ c_handle }}, {{ req_param_lower }}_handle);
        if (_stream_handle == 0) { return error.UnknownFfiError; }
        return {{ struct_name }}{ ._handle = _stream_handle };
    }
