    var _out_error: [*c]u8 = null;
    const _rc = {{ c_register }}(name, @bitCast(vtable), user_data, @ptrCast(&_out_error));
    if (out_error) |ptr| {
        ptr.* = _out_error;
    }
    return _rc;
