blk: {
{% if error_type %}
        if ({{ raw }} == null) return _first_error({{ error_type }});
{% endif %}
        const slice = {{ raw }}[0.._result_len];
        const owned = try std.heap.c_allocator.dupe(u8, slice);
        _free_string({{ raw }});
        break :blk owned;
    }
