    #[frb(sync)]
    pub fn {{ config_name }}(&mut self{{ method_params }}) -> &mut Self {
        if let Some(inner) = self.inner.blocking_lock().as_mut() {
            {{ method_call_expr }}
        }
        self
    }
