# frozen_string_literal: true

require_relative '{{ gem_name_snake }}/version'
require_relative '{{ gem_name_snake }}/native'

module {{ module_name }}
  # Re-export all types and functions from native extension
end
