            _ => {
                return Err(magnus::Error::new(
                    ruby.exception_arg_error(),
                    format!("unknown registration method: {method_name}"),
                ));
            }
        }
    }

{{ ep_call }}    Ok(())
}
