{
  "name": "{{ pkg_name }}-e2e-wasm",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "engines": {
    "node": "{{ node_engine }}"
  },
  "scripts": {
    "test": "NODE_OPTIONS=--max-old-space-size=4096 vitest run"
  },
  "devDependencies": {
    "{{ pkg_name }}": "{{ dep_value }}",
    "rollup": "{{ rollup }}",
    "vitest": "{{ vitest }}"
  }
}
