{
  "name": "{{ pkg_name }}-e2e-typescript",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "engines": {
    "node": "{{ node_engine }}"
  },
  "scripts": {
    "test": "vitest run"
  },
  "devDependencies": {
    "{{ pkg_name }}": "{{ dep_value }}",
    "@types/node": "{{ types_node }}",
    "vitest": "{{ vitest }}"
  }
}
