{% if optional %}        __target.{{ name }} = {{ param }}.map(|value| {{ helper }}(&value.to_string()).expect("valid {{ type_name }} bridge value"));
{% else %}        __target.{{ name }} = {{ helper }}(&{{ param }}.to_string()).expect("valid {{ type_name }} bridge value");
{% endif %}
