    pub fn {{ getter_name }}(&self) -> String {
        serde_json::to_string(&self.0.{{ name }}.as_ref().map(|v| v.iter().map(|elem| {{ elem_expr }}).collect::<Vec<_>>())).expect("serializable enum vec")
    }
