impl From<{{ inner_type }}> for {{ wrapper_type }} {
    fn from(v: {{ inner_type }}) -> Self { Self(v) }
}
impl From<{{ wrapper_type }}> for {{ inner_type }} {
    fn from(v: {{ wrapper_type }}) -> Self { v.0 }
}
