    extern "Rust" {
        type {{ service_name }};
        #[swift_bridge(swift_name = "{{ ep_camel }}")]
        fn {{ ep_snake }}(
            &mut self,
{%- for param in params %}
            {{ param.name }}: {{ param.rust_type }},
{%- endfor %}
        ) -> {{ return_type }};
    }

