# frozen_string_literal: true

source 'https://rubygems.org'

{{ gem_line }}
gem 'rspec', '{{ rspec }}'
gem 'rubocop', '{{ rubocop }}'
gem 'rubocop-rspec', '{{ rubocop_rspec }}'
gem 'faraday', '{{ faraday }}'
