{%- if has_too_many_arguments %}
#[allow(clippy::too_many_arguments)]
{%- endif %}
{%- if has_missing_errors_doc %}
#[allow(clippy::missing_errors_doc)]
{%- endif %}
#[{{ attr_inner }}]
{%- if needs_signature %}
{{ signature_prefix }}{{ sig_defaults }}{{ signature_suffix }}
{%- endif %}
{{ func_sig }} {
{{ body }}
}
