#' Create a {{ enum_name }} enum value
#'
#' Returns the default {{ enum_name }} variant.
#'
#' @return A {{ enum_name }} enum value
#' @export
{{ enum_name }}  <- function() list() |> structure(class = "{{ enum_name }}")

