    {{ method_name }} = function({{ params }}) {
{%- if action_type == "skip" %}
      "Skip"
{%- elif action_type == "continue" %}
      "Continue"
{%- elif action_type == "preserve_html" %}
      "PreserveHtml"
{%- elif action_type == "custom" %}
      list(Custom = "{{ action_value }}")
{%- endif %}
    },
