            if ({{ var }}.equals(MemorySegment.NULL)) {
                checkLastError();
{%- if optional %}
                return Optional.empty();
{%- else %}
                return null;
{%- endif %}
            }
