{
  "name": "{{ pkg_name }}-e2e-typescript",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "test": "vitest run"
  },
  "devDependencies": {
    "{{ pkg_name }}": "{{ dep_value }}",
    "vitest": "^3.0.0"
  }
}
