{{ header }}import { defineConfig } from 'vitest/config';

export default defineConfig({
  test: {
    include: ['tests/**/*.test.ts'],
    testTimeout: 30000,
{% if with_global_setup %}
    globalSetup: './globalSetup.ts',
{% endif %}
{% if with_file_setup %}
    setupFiles: ['./setup.ts'],
{% endif %}
  },
});
