  static Stream<{{ item_type }}> {{ method_name }}({{ owner_type }} {{ owner_param }}, {{ request_type }} {{ request_param }}) {
    return {{ owner_param }}.{{ method_name }}({{ request_param }}: {{ request_param }});
  }
