let {{ name }}_core: {{ core_path }} = {{ name }}.map(|v| {
{{ indent }}    let json = serde_json::to_string(&v){{ err_conv }}?;
{{ indent }}    serde_json::from_str::<{{ core_path }}>(&json){{ err_conv }}
{{ indent }}}).transpose()?{{ indent }}.unwrap_or_default();
{{ indent -}}
