{%- if variant.doc %}
{%- for line in variant.doc | split("\n") %}
    // {{ line }}
{% endfor %}
{%- endif %}
    fun {{ variant_method_kt }}({{ params }}): Int {
        return {{ base_method_kt }}({{ args }})
    }
