/** Coroutine-friendly wrapper around the Java `{{ java_fqn }}` service facade. */
@Suppress("TooManyFunctions")
class {{ class_name }} internal constructor(internal val inner: {{ java_fqn }}) : AutoCloseable {
    constructor() : this({{ java_fqn }}())
