                if (!{{ options_ptr }}.equals(MemorySegment.NULL)) {
                    NativeLib.{{ pu }}_{{ options_type_handle }}_FREE.invoke({{ options_ptr }});
                    {{ options_ptr }} = MemorySegment.NULL;
                }
