                if (!{{ options_ptr | default("optionsPtr") }}.equals(MemorySegment.NULL)) {
                    NativeLib.{{ pu }}_{{ options_type_handle | default("CONVERSION_OPTIONS") }}_FREE.invoke({{ options_ptr | default("optionsPtr") }});
                    {{ options_ptr | default("optionsPtr") }} = MemorySegment.NULL;
                }
