    public static CompletableFuture<{{ return_type }}> {{ method_name }}({{ params }}) {
        return CompletableFuture.supplyAsync(() -> {
{# TODO: Body to be filled by caller #}
        });
    }
