
    static final MethodHandle {{ handle_name }} = LIB.find("{{ ffi_name }}")
        .map(s -> LINKER.downcallHandle(s, FunctionDescriptor.of(ValueLayout.ADDRESS, ValueLayout.ADDRESS)))
        .orElse(null);
