{{ header }}package {{ package }};

/** Visitor interface for callbacks implemented by the host language. */
public interface Visitor {
{% for callback in callbacks %}
    /** {{ callback.doc }} */
    default VisitResult {{ callback.java_method }}({{ callback.params }}) {
        return VisitResult.continueDefault();
    }
{% endfor %}
}
