    /// <summary>
    /// {{ method_name }}.
    /// </summary>
    public {{ return_type }} {{ method_name }}({{ params_decl }}) {
        return NativeMethods.{{ native_method }}(
            _handle{{ arg_lines }}
        );
    }
