    [DllImport("{{ dll_name }}", CallingConvention = CallingConvention.Cdecl)]
    public static extern IntPtr {{ new_method }}();

    [DllImport("{{ dll_name }}", CallingConvention = CallingConvention.Cdecl)]
    public static extern void {{ free_method }}(IntPtr ptr);
