{
  "name": "{{ pkg_name }}-e2e-wasm",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "test": "vitest run"
  },
  "devDependencies": {
    "{{ pkg_name }}": "{{ dep_value }}",
    "rollup": "{{ rollup }}",
    "vite-plugin-wasm": "{{ vite_plugin_wasm }}",
    "vitest": "{{ vitest }}"
  }
}
