{#- Ruby HTTP 101 (WebSocket) skip test template

   Context variables:
   - method: HTTP method (uppercase)
   - path: request path
   - description: fixture description with escaped quotes
#}
  describe '{{ method }} {{ path }}' do
    it '{{ description }}' do
      skip 'HTTP 101 WebSocket upgrade cannot be tested via Net::HTTP'
    end
  end
