// If linking fails with `cannot find -l{{ ffi_lib_name }}`, run `go run <module>/cmd/setup`.

/*
#cgo CFLAGS: -I${SRCDIR}/include
{% if feature_cflags %}
#cgo CFLAGS: {{ feature_cflags }}
{% endif %}
#cgo darwin,arm64 LDFLAGS: -L${SRCDIR}/.lib/macos-arm64 -Wl,-rpath,${SRCDIR}/.lib/macos-arm64 -l{{ ffi_lib_name }}
#cgo darwin,amd64 LDFLAGS: -L${SRCDIR}/.lib/macos-x86_64 -Wl,-rpath,${SRCDIR}/.lib/macos-x86_64 -l{{ ffi_lib_name }}
#cgo linux,amd64 LDFLAGS: -L${SRCDIR}/.lib/linux-x86_64 -Wl,-rpath,${SRCDIR}/.lib/linux-x86_64 -l{{ ffi_lib_name }}
#cgo linux,arm64 LDFLAGS: -L${SRCDIR}/.lib/linux-aarch64 -Wl,-rpath,${SRCDIR}/.lib/linux-aarch64 -l{{ ffi_lib_name }}
#cgo windows,amd64 LDFLAGS: -L${SRCDIR}/.lib/windows-x86_64 -l{{ ffi_lib_name }}
#cgo windows,arm64 LDFLAGS: -L${SRCDIR}/.lib/windows-aarch64 -l{{ ffi_lib_name }}
{% for line in link_flag_lines %}
#cgo {{ line.constraint }} LDFLAGS: {{ line.flags }}
{% endfor %}
#include "{{ ffi_header }}"
*/
import "C"
