// {{ wrapper_name }} calls {{ helper_name }} with visitor callbacks enabled.
func {{ wrapper_name }}({{ wrapper_params }}) (*{{ result_type }}, error) {
	return {{ helper_name }}({{ wrapper_args }})
}
