    fun {{ method_name }}({{ params }}): {{ return_type }} {
        val resultJson = {{ bridge_call }}
        return mapper.readValue(resultJson, object : TypeReference<{{ type_ref_body }}>() {})
    }

