{% if has_visitor_override %}
@overload
def _to_rust_{{ snake }}(value: None, _visitor_override: None = None) -> None: ...


@overload
def _to_rust_{{ snake }}(value: None, _visitor_override: {{ bridge_visitor_type }}) -> _rust.{{ type_name }}: ...


{% else %}
@overload
def _to_rust_{{ snake }}(value: None) -> None: ...


{% endif %}
