#![allow(clippy::too_many_arguments, clippy::unused_async, non_snake_case)]

use jni::{AttachGuard, Env, EnvUnowned};
use jni::objects::{JClass, JObject, JString};
use jni::sys::{jint, jlong};
use std::sync::Arc;
use std::sync::OnceLock;
use serde_json;
