let {{ param_name }} = {{ param_name }}.and_then(|v| {
        {{ struct_name }}::new(v).ok().map(|bridge| {
            std::sync::Arc::new(std::sync::Mutex::new(bridge)) as {{ handle_path }}
        })
    });
