  /**
{% if doc %}
   * {{ doc }}
{% endif %}
   */
  {{ method_name }}({{ meta_sig }}): (fn: (...args: any[]) => any) => (...args: any[]) => any {
    return (fn: (...args: any[]) => any) => {
{% if has_meta %}
      this._app.{{ method_name }}({{ meta_args }}, fn);
{% else %}
      this._app.{{ method_name }}(fn);
{% endif %}
      return fn;
    };
  }
