  /**
   * {{ doc }}
   */
  {{ variant_name }}({{ sig }}): (fn: (...args: any[]) => any) => (...args: any[]) => any {
{{ wrapper_code }}    return (fn: (...args: any[]) => any) => {
      this._registrations.push(["{{ base_method }}", {{ metadata_array }}, fn]);
      return fn;
    };
  }
