    /**
     * {{ doc_lines }}
     *
{{ param_docs }}
     * @return {{ return_type }} Return value from the plugin method
     */
    public function {{ method_name }}({{ method_params }}): {{ return_type }};
