{# TODO(alef-generic-cleanup): Replace generated Not implemented fallback with validation diagnostics. #}
Err(ext_php_rs::exception::PhpException::default("Not implemented: {{ func_name }}".to_string()))
