other => {
    ext_php_rs::exception::PhpException::from_message(format!(
        "invalid value {other:?} for field '{{ field_name }}' of {{ enum_name }}: expected one of [{{ valid_variants }}]"
    ))
    .throw();
    {{ fallback_expr }}
}
