                        let {{ name }}: {{ rust_ty }} = meta
                            .get({{ index }})
                            .ok_or_else(|| {
                                PhpException::from_message("Missing metadata at index {{ index }}".into())
                            })?
                            .try_into()?;
