fn nodecontext_to_php_array(
    ctx: &{{ context_type_path }},
) -> ext_php_rs::types::Zval {
    ext_php_rs::types::Zval::try_from(serde_json::to_string(ctx).unwrap_or_default()).unwrap_or_default()
}
