<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net10.0</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <IsPackable>false</IsPackable>
    <IsTestProject>true</IsTestProject>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="{{ microsoft_net_test_sdk_version }}" />
    <PackageReference Include="xunit" Version="{{ xunit_version }}" />
    <PackageReference Include="xunit.runner.visualstudio" Version="{{ xunit_runner_version }}" />
  </ItemGroup>

  <ItemGroup>
{{ pkg_ref }}
  </ItemGroup>
</Project>
