# frozen_string_literal: true

require 'json'
require '{{ ext_name }}'
{% if module_name != native_module_name %}
module {{ module_name }}
  # Re-export all public module functions from the native extension
  {{ native_module_name }}.methods(false).each do |m|
    define_singleton_method(m) { |*args, **kwargs, &blk| {{ native_module_name }}.public_send(m, *args, **kwargs, &blk) }
  end

  # Re-export all constants (classes, structs, etc.) from the native extension
  {{ native_module_name }}.constants.each do |c|
    const_set(c, {{ native_module_name }}.const_get(c)) unless const_defined?(c)
  end
end
{% endif %}
